*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    height: 100%;
}

/*Clear setado para funcionamento  da estilização com o float*/

.clear{
    clear: both;
}

.centro{
    width: 100%;
    margin: 0 auto;
}

.header{
    padding: 0 2%;
    width: 100%;
    height: 80px;
    background-color: #212343;
}

.header img{
    margin: 15px;
}

.container-banner{
    padding: 0 2%;
    width: 100%;
    height: 557px;
    background-image: url('../images/header_bg.png');
    background-position: center;
    background-size: cover;
}

.container-banner > .centro{
    height: 100%;
}

.formulario{
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    background-color: white;
    float: right;
    position: relative;
    top: -15px;
    border: 6px solid #ccc;
}

.formulario h2{
    font-size: 22px;
    color: #575757;
    font-weight: normal;
    text-align: center;
}

#label{
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: #575757;
    margin-top: 35px;   
}

.aviso{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #575757;
    margin-top: 35px;

}

#email, #telefone, #nome, #sobrenome{
    width: 344px;
    height: 25px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.botao{
    font-size: 15px;
    color: white;
    width: 300px;
    height: 25px;
    background-color: #363A6D;
    display: inline-block;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(97, 59, 146);
}

.container-botao{
    text-align: center;
}

.container-textocentro{
    width: 630px;
    background-color: rgba(33, 35, 67, 0.7);
    float: left;
    height: 200px;
    margin-top: 155px;
}

.container-textocentro ul{
    list-style-position: inside;
}

.container-textocentro ul li{
    margin-left: 90px;
    margin-top: 15px;
    color: white;
}

.container-textoabaixo{
    padding: 15px 2%;
    background-color:rgb(211, 205, 218);
    text-align: center;  
}

.container-textoabaixo p{
    padding: 10px 0;
}

.container-textoabaixo h2{
    text-align: center;
    font-weight: normal;
}

.icone-flecha{
    background-image: url('../images/arrow.png');
    width: 64px;
    height: 64px;
    position: relative;
    left: 50%;
    top: 45px;
    margin-left: -30px;
}

.container-secao-inferior h2{
    text-align: center;
    color: #462366;
    font-weight: normal;
}

.container-secao-inferior{
    padding: 55px 2%;
}

.secao-inferior{
    margin-top: 40px;
    text-align: center;
    width: 33.333%;
    float: left;
    padding: 20px;
}

.secao-inferior-text{
    padding: 10px 25px;
    
}

.container-secao-inferior img{
    width: 65px;
}

.footer{
    border-top: 3px solid #888888;
    padding: 40px 0;
    text-align: center;
    color: #888;
}

.footer p{
    margin-top: 5px;
}

.header h2{
    color: white;
    display: inline-block;
    position: relative;
    bottom: 30px;
    font-weight: normal;
}

/*Abaixo as configurações das medias querys para responsividade */

@media screen  and (max-width: 1024px){
    .header{
        padding: 15 2%;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .header img{
        margin: 0;
    }

    .header h2{
        bottom: 18px;
        padding: 0 2%;
    }

    .container-banner{
        padding: 40px 2%;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .container-textocentro{
        width: 90%;
        float: none;
        height: auto;
        max-width: 500px;
        display: inline-block;
        margin-top: -20px;
    }

    .container-textocentro ul li{
        margin-left: auto;
        margin-top: 0;
    }
       
    .formulario{
        max-width: 400px;
        padding: 10px;
        width: 90%;
        height: 100%;
        float: none;
        top: 0;
        display: inline-block;
        margin-top: 25px;
    }
}

@media screen  and (max-width: 690px){
    .secao-inferior{
        float: none;
        display: inline-block;
        width: 100%;
        padding: 0 0;
    }

    .centro p{
        padding: 20px 0;
        font-size: 15px;
    }
}